NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_CAMPAIGN_NAME=Team Shahbal
NEXT_PUBLIC_CAMPAIGN_TAGLINE=Mombasa 2027 · Campaign Command
NEXT_PUBLIC_MAP_STYLE=https://tiles.openfreemap.org/styles/positron
NEXT_PUBLIC_GIS_URL=/gis/
NEXT_PUBLIC_CANDIDATE_NAME=Suleiman Shahbal
NEXT_PUBLIC_SIP_WSS_ORIGIN=
